@import "tailwindcss";

*{
scroll-behavior: smooth;
}

:root {
  /* Light mode colors */
  --background: #ffffff;
  --navbarbg: #FAFBFFCC;
  --navbarbb: #C8D7FF;
  --textLightmode: #7E8186;
  --atpText: #00006D;
  --linkLightmode: #4C5D77;
  --normalH1Lightmode: #4F4F4F;
  --FAQTitleLightmode: #212121;
  --FAQLightmode: #858383;
  --FAQbgLightmode: #EDEDED;
  --FAQborder: #E5E5EA;
  --GetStarted: #BED0FF;
  --GetStartedBg: brightness(0.7) contrast(3.0);
  --currenciesList: #EDEDED;
  --FAQbgLightmode1: #F7F7F7;
  --ScheduleButtonBorder: none;
  --mobileMenuBg: linear-gradient(180deg, #FAFBFF 0%, rgba(145, 149, 164, 0.95) 100%);
  --slideShowTitle: #212121;


  /* Dark mode colors */
  --DarkBackground: #222222;
  --navbarDarkbg: #222222CC;
  --navbarDarkbb: #383D49;
  --textDarkmode: #C8CED6;
  --atpTextDark: #CDCDFF;
  --linkDarkmode: #81A2D2;
  --linkDarkmode1: #81A2D2;
  --normalH1Darkmode: #C1C1C1;
  --FAQTitleDarkmode: #DDDDDD;
  --FAQDarkmode: #A5A5A5;
  --FAQbgDarkmode: #434343;
  --FAQborderDark: #5C5C5C;
  --GetStartedDark: #292B33;
  --GetStartedBgDark: brightness(0.75) contrast(1.0);
  --currenciesListDark: #c8c4c4;
  --ScheduleButtonBorderDark: 1px solid #60677A;
  --mobileMenuBgDark: linear-gradient(180deg, #1a1a2e 0%, rgba(26, 26, 46, 0.95) 100%);
  --slideShowTitleDark: #FFFFFF;
}

.dark-mode {
  --background: var(--DarkBackground);
  --textLightmode: var(--textDarkmode);
  --linkLightmode: var(--linkDarkmode);
  --normalH1Lightmode: var(--normalH1Darkmode);
  --FAQTitleLightmode: var(--FAQTitleDarkmode);
  --FAQLightmode: var(--FAQDarkmode);
  --FAQbgLightmode: var(--FAQbgDarkmode);
  --navbarbg: var(--navbarDarkbg);
  --navbarbb: var(--navbarDarkbb);
  --atpText: var(--atpTextDark);
  --FAQborder: var(--FAQborderDark);
  --GetStarted: var(--GetStartedDark);
  --GetStartedBg: var(--GetStartedBgDark);
  --currenciesList: var(--currenciesListDark);
  --FAQbgLightmode1: var(--linkDarkmode1);
  --ScheduleButtonBorder: var(--ScheduleButtonBorderDark);
  --mobileMenuBg: var(--mobileMenuBgDark);
  --slideShowTitle: var(--slideShowTitleDark)
}

head, body {
  overflow-x: hidden;
}

button:not(.showMore) {
  cursor: pointer;
  color: var(--linkLightmode);
}